# Models excluded
docker
models
dp/apis/adapter
checkpoints
lora
*.safetensors
*.bin
# All the data excluded
*.gz
**/data/**/*.png
**/data/**/*.jpg
**/data/**/*.csv
**/data/**/*.txt
**/data/**/*.zip
**/result/**/*.png
**/result/**/*.jpg
**/result/**/*.csv
**/result/**/*.txt
**/result/**/*.zip
*.pyc
*.pt
*.key
result/**/*.npz
dp/result/**/*.npz
CUBIGate/result/**/*_debug.npz
CUBIGate/input_data/*
# Logs and scripts excluded
*.log
*.sh
*.json
wandb
logs
